.Navbar {

    /* Dimentions */
    padding: 20px;
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Styles */
    color: white;

    /* White border */
    border: 1px solid rgba(255, 255, 255, 0.5);
    ;
    border-radius: 10px;
    /* Glow effect */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.50);

}

.Logo {}

.Nav-Header {}

.Nav-Btn-Container {
    display: flex;
    gap: 5px;
}

.Nav-Btn {}

.Nav-Btn:hover {}