.NewcommentContainer{ 
    background-color: rgba(0, 0, 0, 0.88);
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Newcommewnt-form{ 
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.Newcomment-textinput{ 
    min-width: 500px;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    align-items: flex-start; /* Align text to the top */
    overflow-wrap: break-word;
    display: block;

}

.CommentBoxButtons{ 
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}